@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rammetto+One&display=swap');

body {
    font-family: "Black Ops One", system-ui;
    font-weight: 10;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

img {
    width: 30%;
}
.centered_list {
    list-style-position: inside;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;

}

.child {
    padding: 10px 20px;
    background-color: #004c73;
}

a {
    margin: 0 15px;
    color: orangered;
    font-weight: bold;
}

.current {
    color: white;
}

footer small {
    margin-top: 10px;
}