body {
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.centered_list {
    list-style-position: inside;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;

}

.child {
    padding: 10px 20px;
    background-color: lightblue;
}

.child a {
    margin: 0 15px;
}